# building
/*.egg-info/
/.eggs/
/build/
/dist/

# documentation
/Documentation/_build/

# 'git format-patch' folder
/outgoing/

# python-specific
__pycache__/
*.py[cod]
*$py.class

# testing
/.tox/
.coverage
