# building
/*.egg-info/
/.eggs/
/.pybuild/
/build/
/dist/
/pip-wheel-metadata/
/releng_tool-*/

# 'git format-patch' folder
/outgoing/

# python-specific
__pycache__/
*.py[cod]
*$py.class

# testing
/htmlcov*/
/.tox/
.coverage*
!.coveragerc

# other
/.idea/
