[build-system]
requires = [
    'setuptools',
]
build-backend = 'setuptools.build_meta'

[project]
name = 'releng-tool'
description = 'A tool to manage the building of packages'
authors = [
    {name = 'releng-tool', email = 'releng@releng.io'},
]
requires-python = '>=2.7'
readme = 'README.md'
license = {text = 'BSD-2-Clause'}
classifiers = [
    'Development Status :: 4 - Beta',
    'Environment :: Console',
    'License :: OSI Approved :: BSD License',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 2',
    'Programming Language :: Python :: 2.7',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.4',
    'Programming Language :: Python :: 3.5',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Topic :: Software Development',
    'Topic :: Software Development :: Build Tools',
]
dynamic = [
    'entry-points',
    'version',
]

[project.urls]
Homepage = 'https://releng.io'
Documentation = 'https://docs.releng.io'
Source = 'https://github.com/releng-tool/releng-tool'

[project.scripts]
releng-tool = 'releng_tool.__main__:main'

[project.optional-dependencies]
statistics = [
    'matplotlib',
]
