Tests:
 tool-tests,
 unit-tests,
Depends:
 bzr,
 cargo,
 cmake,
 cvs,
 git,
 gpg-agent,
 mercurial,
 flit,
 python3-installer,
 python3-poetry,
 python3-distutils,
 meson,
 patch,
 scons,
 @,
Restrictions:
 allow-stderr,
 isolation-container,
