/* increase right-toc for longer titles in this documentation */
.toc-drawer
{
    width: 20em;
}

@media (max-width: 82em) {
    .toc-drawer {
        right: -20em;
    }
}

/* increasing spacing on headers to give some top-space on anchor links */
h3, h4, h5, h6 {
    padding-top: 10px;
}

/* avoid all-caps on lower header entries */
h4, h5, h6 {
    text-transform: unset !important;
}

/* force "auto" widths tables to be a maximum width */
table.colwidths-auto {
    width: 100%;
}

/* avoid wrapping literals */
.literal {
    white-space: nowrap;
}
