name: build

on:
  push:
    branches:
    - master
    paths:
      - '.github/workflows/build.yml'
      - 'releng/**'
      - 'releng_tool/**'
      - 'tests/**'
      - 'setup.cfg'
      - 'setup.py'
      - 'tox.ini'
  pull_request:
    branches:
    - master
    paths:
      - '.github/workflows/build.yml'
      - 'releng/**'
      - 'releng_tool/**'
      - 'tests/**'
      - 'setup.cfg'
      - 'setup.py'
      - 'tox.ini'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
            - { os:  ubuntu-latest, python:  "2.7", toxenv:   py27, cache: ~/.cache/pip }
            - { os:   ubuntu-18.04, python:  "3.4", toxenv:   py34, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python:  "3.5", toxenv:   py35, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python:  "3.6", toxenv:   py36, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python:  "3.7", toxenv:   py37, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python:  "3.8", toxenv:   py38, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python:  "3.9", toxenv:   py39, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: "3.10", toxenv:  py310, cache: ~/.cache/pip }
            - { os:   macos-latest, python:  "2.7", toxenv:   py27, cache: ~/Library/Caches/pip }
            - { os:   macos-latest, python: "3.10", toxenv:  py310, cache: ~/Library/Caches/pip }
            - { os: windows-latest, python:  "2.7", toxenv:   py27, cache: ~\AppData\Local\pip\Cache }
            - { os: windows-latest, python: "3.10", toxenv:  py310, cache: ~\AppData\Local\pip\Cache }
            - { os:  ubuntu-latest, python: "3.10", toxenv: flake8, cache: ~/.cache/pip }
            - { os:  ubuntu-latest, python: "3.10", toxenv: pylint, cache: ~/.cache/pip }

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      env:
        PIP_DISABLE_PIP_VERSION_CHECK: 1
        PIP_NO_PYTHON_VERSION_WARNING: 1
      with:
        python-version: ${{ matrix.python }}

    - name: Cache pip
      uses: actions/cache@v2
      id: cache-pip
      with:
        path: ${{ matrix.cache }}
        key: ${{ matrix.os }}-${{ matrix.python }}-pip-

    - name: Install dependencies
      env:
        PIP_DISABLE_PIP_VERSION_CHECK: 1
        PIP_NO_PYTHON_VERSION_WARNING: 1
      run: python -m pip install --upgrade tox

    - name: tox
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox 
