name: Tools check

on:
  push:
    branches:
    - main
    paths:
      - '.github/workflows/check-tools.yml'
      - 'releng/**'
      - 'releng_tool/**'
      - 'tests/**'
      - 'setup.cfg'
      - 'setup.py'
      - 'tox.ini'
  pull_request:
    branches:
    - main
    paths:
      - '.github/workflows/check-tools.yml'
      - 'releng/**'
      - 'releng_tool/**'
      - 'tests/**'
      - 'setup.cfg'
      - 'setup.py'
      - 'tox.ini'
  workflow_dispatch:

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
  PIP_NO_PYTHON_VERSION_WARNING: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
            # supported interpreters
            - { os: ubuntu-latest, python:  "2.7", cache: ~/.cache/pip }
            - { os:  ubuntu-18.04, python:  "3.4", cache: ~/.cache/pip }
            - { os: ubuntu-latest, python:  "3.5", cache: ~/.cache/pip }
            - { os: ubuntu-latest, python:  "3.6", cache: ~/.cache/pip }
            - { os: ubuntu-latest, python:  "3.7", cache: ~/.cache/pip }
            - { os: ubuntu-latest, python:  "3.8", cache: ~/.cache/pip }
            - { os: ubuntu-latest, python:  "3.9", cache: ~/.cache/pip }
            - { os: ubuntu-latest, python: "3.10", cache: ~/.cache/pip }

            # additional operating systems
            - { os:   macos-latest, python:  "2.7", cache: ~/Library/Caches/pip }
            - { os:   macos-latest, python: "3.10", cache: ~/Library/Caches/pip }
            - { os: windows-latest, python:  "2.7", cache: ~\AppData\Local\pip\Cache }
            - { os: windows-latest, python: "3.10", cache: ~\AppData\Local\pip\Cache }

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Cache pip
      uses: actions/cache@v3
      id: cache-pip
      with:
        path: ${{ matrix.cache }}
        key: ${{ matrix.os }}-${{ matrix.python }}-pip-

    - name: Install dependencies
      run: python -m pip install --upgrade tox

    - name: Tools test
      run: tox -e tools
