name: Lint

on:
  push:
    branches:
    - main
    paths:
      - '.github/workflows/lint.yml'
      - 'releng_tool/**'
      - 'scripts/**'
      - 'tests/**'
      - '.mypy.ini'
      - '.pylintrc'
      - 'ruff.toml'
      - 'tox.ini'
  pull_request:
    branches:
    - main
    paths:
      - '.github/workflows/lint.yml'
      - 'releng_tool/**'
      - 'scripts/**'
      - 'tests/**'
      - '.mypy.ini'
      - '.pylintrc'
      - 'ruff.toml'
      - 'tox.ini'
  workflow_dispatch:

jobs:
  build:
    name: Lint (${{ matrix.toxenv }})
    runs-on: ubuntu-latest
    container:
      image: python:3.13-slim
    strategy:
      matrix:
        include:
            - { toxenv:   ruff }
            - { toxenv: pylint }
            - { toxenv:   mypy }

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Cache pip
      uses: actions/cache@v5
      id: cache-pip
      with:
        path: ~/.cache/pip
        key: lint-pip-${{ matrix.toxenv }}

    - name: Setup container cache ownership
      run: |
        mkdir -p ~/.cache
        chown -R $(id -u) ~/.cache

    - name: Install dependencies
      run: python -m pip install --upgrade tox

    - name: tox
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox
